LLM_API_URL= # your provider
LLM_MODEL_NAME= # your llm name. use a multilingual llm
LLM_API_KEY= # provider api key (for llm)
LLM_TEMP=0.0
LLM_REASONING_EFFORT=low
LLM_TOP_P=0.95
LLM_MAX_TOKEN=1024
LLM_SEED=67
CONTEXT_WINDOW=4096

UI_API_KEY= # a secure x-api-key. this will be used with swagger and UI

EMBEDDING_SERVICE_URL= # embedding service use Nvidia its free
NVIDIA_API_KEY= # nvidia api key
EMBEDDING_DIM=2048 # anything beyond 2k is overkill tbh
EMBED_BATCH_SIZE=64
EMBED_TIMEOUT=30

QDRANT_URL=http://localhost:6010
COLLECTION_NAME=FAQ-1 #forget this. it was a feature I never implemented
FAQ_COLLECTION_NAME=UNI-RAG-DATA # this is the collection that the system uses
QDRANT_API_KEY= # we are self hositng our qdrant so we dont need api key for qdrant

LOG_LVL=DEBUG